<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .center-card {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 100vh;
        }
        .card {
            height: auto;
            width: 60%;
        }
    </style>
</head>
<body>
    <div style="width: 85%; margin: auto;" class="mt-3">
        <div class="d-flex justify-content-between align-items-start ">
            <h5 class="card-title">
                All available classes by subjects and teacher
            </h5>
            
            <a href="../login/success" class="btn btn-primary">Back to calendar</a>
        </div>
        
        <% for (const [subjectName, teachers] of Object.entries(allClassesObject)) { %>
            <div class="card mb-3">
                <div class="card-header"><%= subjectName %></div>
                <% teachers.forEach(teacher => { %>
                    <form action="/student-booking/add-student-booking" method="post">
                        <div class="card-body">
                            <h5 class="card-title"><%= teacher.name %></h5>
                            <p class="card-text"><%= teacher.description %></p>
                            <p class="card-text">Years of Experience: <%= teacher.years_experience %></p>
                            <p class="card-text">Achievements: <%= teacher.achievement %></p>
                            <a href="<%= teacher.link %>" class="btn btn-primary">View LinkedIn Profile</a>
                            <input type="hidden" name="subjectId" value="<%= teacher.subject_id %>">
                            <input type="hidden" name="teacherId" value="<%= teacher.teacher_id %>">
                            <input type="submit" class="btn btn-success" value="Select Teacher">
                        </div>
                    </form>
                <% }); %>
            </div>
        <% } %>

    </div>
    
    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>